/* Adicionar aqui toda a estilização criada para sua aplicação. */
/* Cores:
#0762c8 - Azul
#fcba05 - Amarelo
#ff0960 - Cereja
*/

*{
    margin: 0;
    padding: 0;;
    font-family: monospace, sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
}
/* HEADER */

.header, .footer{
    width: 100%;
    height: 15vh;

    background-color: #002249;
    color: #fcba05;
    display: flex;
    align-items: center;
    border-bottom: solid 2px #ff0960;
}

.header > .container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.navbar{
    width: 30vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    list-style: none;
}

a{
    text-decoration: none;
    color: #fcba05;
}

a:hover {
    text-decoration: underline;
}


/* BANNER */

.banner{
    height: 80vh;
    background-image: url(../assets/imgs/bg-jelly-fish-para-home.png);
    display: flex;
    color: #ffffff;
    font-size: 20px;
    justify-content: center;
    align-items: center;
}

.banner > .container{
    width: 10vw;
}

.destaque{
    font-weight: bold;
}

/* CONTENT */
.content{
    height: 350px;
    background-color: #d3d3d3;
}

.content > .container{
    width: 100vw;
}

.boxes{
    display: flex;
    justify-content: space-around;
}

.box{
    width: 25vw;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

.box > img{
    width: 10vw;
}

.box > p{
    margin: 5px;
}

.box > h4{
    margin: 8px;
    font-weight: bold;
    font-size: 20px;
}

/* FOOTER */

.footer{
    border-top: solid 2px #ff0960;
    border-bottom: 0;
    justify-content: center;
    align-self: flex-end;
}


/* PÁGINA DE LOGIN */

.login{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d3d3d3;
    border-radius: 10px;
    width: 50vw;
    height: 40vh;
    color: #ff0960;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    width: 30vw;
    height: 40vh;

}

.card > h2{
    align-self: center;
}

.campo{
    display: flex;
    flex-direction: column;
}

input{
    width: 30vw;
    height: 5vh;
    background-color: #ffffff;
    border: solid 1px #ff0960;
    border-radius: 5px;
    text-align: center;
}

.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
}

button{
    margin: 10px;
    height: 5vh;
    width: 15vw;
    background-color: #ff0960;
    border: 0;
    border-radius: 5px;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
}

button:hover {
    background-color: #ffffff;
    border: solid 1px #ff0960;
    color: #ff0960;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../assets/imgs/bg-jelly-fish-para_outras_pags.png);
    height: 70vh;
}